
/* blue background */
* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(Background.png);
    background-color: rgb(20, 52, 231);
    background-repeat: no-repeat;  
    background-size: cover;

}

.block_center {
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    max-width: 350px;
    text-align: center;
}
.text_margin_top {
   margin-top: 20px;
}
/*  */
.text_light {
    width: 100%;
    max-width: 350px;
    font-weight: lighter;
    color: rgba(255, 255, 255, 70%);
}
/* dark blue field */
.field {
    Width:350px;
    padding-bottom: 30px;
    background: #2C405A;
    box-sizing: border-box;
    border-radius: 8px;
    padding-top: 30px;

}
/* field input */
input { 
    background-color: #2C405A ;
    width: 300px;
    height: 50px;
    margin-top: 5px ;
    border-radius: 5px;
    border: solid 1px #3F536E;
    padding-left: 20px;
    font-size: medium;
    color: aliceblue;
    
    
}
input:focus {
    outline: none;
    border-color:  blue;
   
}
/* button */
.button_size {
    width: 100%;
    max-width: 120px;
    height: 40px;
    background-color: chartreuse;
    color: cornsilk;
    font-size: medium;
    border-radius: 6px;
   outline: none;
   border: none;

}
.button_size:hover {
    cursor: pointer;
    background-color: cyan;
    transition: 0.5s;
    border-style: none;
}
/* forgot the password */
a {
    color: rgb(20, 52, 231);
    text-decoration: none;
}
.img {
    width: 50px;
    height: 50px;
}

/* green picture position */
.position_green-picture {
  position: absolute;
  bottom: 0px;
  right: 0px;
  cursor: pointer;

}



 



